@import 'base';
//Colors
@placeholder-color: @black;
@error-color: red;
@link-color: blue;
@link-color-hover: lighten(@link-color, 10%);
@bg-color: @white;
@border-color: #aaa;
@focus-color: #6e94bb;

@bg-grey: #ddd;

//Variables
@content-width: 980px;
@content-padding: 20px;
@footer-height: 200px;
@input-height: 30px;
@input-padding: 10px;
@element-radius: 0;
@font-size: 13;
@text-line-height: 20px;
@text-margin-bottom: 12px;

//Fonts
@font: 'Geometria';
@bold: 'Geometria Bold';
@italic: 'Geometria';
@bold-italic: 'Geometria';

//Mixins
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

//Tags
input, textarea, select{
	.border();
}
button[type="submit"]{
	background: @white;
}

//Header
header{
	background: @bg-grey;
	section.header-row{
		.content-container{
			width: 100%;
			padding: @content-padding;
			.box-sizing;
			.main-menu{

			}
			.login-form{
				//width: 300px;
				fieldset{
					.clearfix;
					.input-container{
						display: inline;
						padding-bottom: 10px;
						float: left;
					}
				}
			}
		}
	}
}
//Main
section.main{

}
//Footer
footer{

}
//Media
@media screen{

}