//Colors
@black: #000;
@white: #fff;
@bg-grey: #ddd;

//Variables
@elements-radius: 4px;
@elements-height: 40px;
@input-padding: 0 14px;
@content-width: 980px;

//Fonts
@font: 'Geometria';
@bold: 'Geometria Bold';
@fonts: 'fonts';
.font-face(@font);
.font-face(@bold);

//Functions
.font-face(@fontname){
	@font-face{
		font-family: @fontname;
		src: url('@{fonts}/@{fontname}.eot');
		src: url('@{fonts}/@{fontname}.eot?#iefix') format('embedded-opentype'),
		url('@{fonts}/@{fontname}.woff') format('woff'),
		url('@{fonts}/@{fontname}.ttf')  format('truetype'),
		url('@{fonts}/@{fontname}.svg#svgFontName') format('svg');
	}
}
.font(@size: 13, @font: @font, @line: normal, @serif: sans-serif){
	font: ~'@{size}px'/@line @font, @serif;
}
.font-family(@font: @font, @serif: sans-serif){
	font-family: @font, @serif;
}

//Tags
*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
header{
	background: @bg-grey;
	padding: 20px;
}
body{
	color: @black;
	.font();
}

//Mixins

//Header
.login-form{
	width: 300px;
	fieldset{
		padding: 20px;
		.input-container{
			padding-bottom: 10px;
		}
	}
}